@{
    ViewData["Title"] = "Dava Sorgulama";
}

<h2>Dava Sorgulama</h2>

<form method="post" asp-action="Search">
    <div class="form-group">
        <label>Kullanıcı Numaranız:</label>
        <input type="text" name="clientCode" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Sorgula</button>
</form>

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger mt-2">
        @ViewBag.Error
    </div>
}